$primary-color: #600400;
$secondary-color: #850c0c /* #600000 */ /* #961616 */;

$background-color-1: #080202 /* #ffeedc */;
$background-color-2: #600400;

$text-color: #fff /* #7a6464 */;
$text-color-alt: $secondary-color;
$text-color-2: #c79f9d /* b78e8c */ /* #f0d6ce */;
$text-color-2-alt: #fff/* #ffeedc */;

$font-main: "Roboto", sans-serif;
$font-display: "Lugrasimo", cursive;